.footer-container {
  background: #ebeeef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebeeef 0%, #bcc6ca 50%, #b2c0c6 51%, #d3d7d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebeeef), color-stop(50%, #bcc6ca), color-stop(51%, #b2c0c6), color-stop(100%, #d3d7d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebeeef 0%, #bcc6ca 50%, #b2c0c6 51%, #d3d7d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebeeef 0%, #bcc6ca 50%, #b2c0c6 51%, #d3d7d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ebeeef 0%, #bcc6ca 50%, #b2c0c6 51%, #d3d7d9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ebeeef 0%, #bcc6ca 50%, #b2c0c6 51%, #d3d7d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeeef', endColorstr='#d3d7d9',GradientType=0 );
  /* IE6-9 */
}

nav:after {
  content: " ";
  display: block;
  font-size: 1px;
  line-height: 1px;
  clear: both;
}

body, ul, li, h1, h2, h3, h4, h5, input, p {
  padding: 0;
  margin: 0;
}

button, input[type="submit"] {
  background-image: none;
  border-radius: 0;
  border: none;
}

ul {
  list-style: none;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
  overflow-x: hidden;
}

/* *:not(input[type="text"]):not(input[type="password"]) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
} */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f8f9fa;
  font-family: 'Segoe UI';
  font-size: 16px;
  color: #777;
}

h1, h2, h3, h4 {
  color: #2980b9;
  margin: 5px;
  border-bottom: 1px solid #f8c9c4;
}

h3 {
  font-size: 16px;
  height: 22px;
}
.top-featured h3 {
  font-size: 9px;
  border: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #e74c3c;
}
a:hover {
  color: #a82315;
}

p {
  padding: 1%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
#wrapper > header {
  height: 60px;
}
#wrapper > nav {
  height: 40px;
}
#wrapper > div {
  flex: 1;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.main-title {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  height: 60px;
  overflow: hidden;
}
.main-title h1 {
  padding: 1%;
  font-family: "Black Ops One";
  color: #e74c3c;
  font-size: 30px;
  line-height: 22px;
  overflow: hidden;
  border: none;
}
.main-title .logo {
  max-width: 70px;
}
.main-title h1 + div {
  flex: 1;
}
.main-title div {
  height: 60px;
}
.main-title div:last-of-type {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 150px;
  padding: 0;
}
.main-title div:last-of-type h3 {
  text-align: center;
  flex: 1;
}

nav {
  text-transform: uppercase;
  overflow: hidden;
}
nav ul {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
nav a {
  font-weight: bold;
}
nav.main-nav {
  text-align: center;
  font-size: 18px;
  line-height: 16px;
}
nav.main-nav ul {
  height: 40px;
  align-items: stretch;
}
nav.main-nav ul li {
  height: auto;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e74c3c;
  overflow: hidden;
}
nav.main-nav ul li:hover, nav.main-nav ul li.active {
  border-bottom: 5px solid #e74c3c;
  transform: transform3d(0, 0, 0);
  transition: 0.5s;
}
nav.main-nav ul li:not(:last-of-type) {
  -webkit-flex: 1;
  flex: 1;
}
nav.main-nav ul li a {
  display: block;
  overflow: hidden;
  flex: 1;
}
nav.main-nav ul li input {
  padding: 15px;
  border: none;
  width: 100%;
  background: none;
}
nav.main-nav ul li:last-of-type {
  width: 0;
}
nav.main-nav ul li:last-of-type i {
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  margin-top: 10px;
  opacity: 0.6;
  transform: scale3d(0.8, 0.8, 1);
}
nav.main-nav ul li:last-of-type i:hover {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: 0.3s;
}
nav.sub-nav ul {
  align-items: stretch;
  height: 35px;
}
nav.sub-nav ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ed7669;
  overflow: hidden;
}
nav.sub-nav ul li:last-of-type {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ed7669;
}
nav.sub-nav ul li.active {
  border-top: 2px solid #ed7669;
  border-right: 1px solid #ed7669;
  border-left: 1px solid #ed7669;
  border-bottom: none;
}
nav.sub-nav ul li a {
  flex: 1;
  display: block;
  padding: 5px;
  color: #f29f97;
}
nav.sub-nav ul li a.active {
  color: #e74c3c;
}
nav.sub-nav ul li a:hover {
  color: #a82315;
}

.main-container {
  width: 100%;
}

.content-block {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.content-block.one {
  flex-direction: column;
}
.content-block.one .main-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.content-block.one .main-content > div {
  overflow: hidden;
  flex: 1;
  /* &:last-of-type {
      article {
          max-height: 300px;
          overflow: hidden;
      }
  } */
}
.content-block.two {
  flex-direction: column;
}

article {
  flex: 1;
}
article h1 {
  font-size: 16px;
  height: 46px;
  overflow: hidden;
}
article h2 {
  font-size: 16px;
}
article img {
  float: right;
  max-width: 80px;
  margin: 3px;
}
article.featured-article img {
  display: block;
  float: none;
  margin: auto;
  max-width: 100%;
}

aside h3 {
  height: 46px;
}
aside form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
aside form > div {
  display: flex;
  height: 30px;
  align-items: stretch;
}
aside form > div .fa {
  color: #2980b9;
  font-size: 23px;
  width: 20px;
}
aside form > div input {
  height: auto;
  background: none;
  border: none;
  padding: 1%;
  color: #2980b9;
}
aside form input[type="submit"] {
  background: #e74c3c;
  color: white;
  text-transform: uppercase;
  min-width: 100px;
}
aside form input[type="submit"]:hover {
  background: #a82315;
}

.footer-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px #333;
  border: 1px solid #ccc;
}
.footer-container i {
  padding: 0 2%;
  font-size: 23px;
  opacity: 0.6;
  transform: scale3d(0.8, 0.8, 1);
}
.footer-container i:hover {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: 0.3s;
}

@media screen and (min-width: 700px) {
  .content-block.one {
    flex-direction: row;
  }
  .content-block.one .main-content {
    flex-direction: row;
    order: 1;
    flex: 1;
  }
  .content-block.one .main-content > div {
    height: 500px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    /* &:last-of-type {
        article {
            max-height: 50%;
            overflow: hidden;
        }
    } */
  }
  .content-block.one .main-content > div article {
    flex: 1;
    overflow: hidden;
  }
  .content-block.one aside {
    order: 2;
    width: 30%;
  }
  .content-block.one aside input {
    flex: 1;
  }
  .content-block.two {
    flex-direction: row;
  }
}
